@font-face {
  font-family: nordica;
  src: url("fonts/NordicaBlack.otf");
  font-style: normal;

}
* {
  box-sizing: border-box;
}
.logo {
width: 180px;
margin-left: 5%;
}
.navbar {
  display: none;
  position: fixed;
  margin-top: -75px;
  height: 100%;
  width:100%;
  background-color: rgba(229,76,78,0.8);
  z-index: 1;
text-align: center;
}
.navbar li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 70px;
  margin-left: -20px;

}

.navbar a {
  animation: popup 1s linear both;
  text-decoration: none;
  font-family: nordica;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;

}
.navbar .first {
  animation-delay: 0.1s;

}
.navbar .second {
  animation-delay: 0.2s;

}
.navbar .third {
  animation-delay: 0.3s;
}
.navbar .fourth {
  animation-delay: 0.4s;
}
.navbar .last-navbar {
  animation-delay: 0.5s;
  line-height: 3.5rem;
  padding-left: 15px;
  padding-right: 15px;
}
.multiply {
  display: none;
  position: absolute;
    right: 25px;
    top: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}
.close-navbar1, .close-navbar2 {
 display: none;
 position: relative;
border-top: solid 1px white;
  width: 3rem;
  top: 20px;

}
.close-navbar1 {
  transform: rotate(45deg);
}
.close-navbar2 {
  transform: rotate(-45deg);
}
.ham-container {
  width: 50px;
  height: 45px;
  margin-right: 5%;
  background-color: #c2b233;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.ham-bar1, .ham-bar2, .ham-bar3 {
  width: 20px;
  border-top: solid 3px black;
  position: absolute;
}
.ham-bar1 {
  top: 32%;
  left: 30%;
}
.ham-bar2 {
  top: 45%;
  left: 30%;
}
.ham-bar3 {
  top: 58%;
  left: 30%;
}
.header-container {
  padding-top: 30px;
  background-color: #f2d431;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover-bg {
  width: 100%;
  height: 350px;
}
