@font-face {
  font-family: nordica;
  src: url("fonts/NordicaBlack.otf");
  font-style: normal;
}
@font-face {
  font-family: assistant;
  src: url("fonts/Assistant-ExtraLight.ttf") format ('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: assistant;
  src: url("fonts/Assistant-Regular.ttf") format ('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: assistant;
  src: url("fonts/Assistant-ExtraBold.ttf") format ('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: roboto;
  src: url("fonts/roboto.thin.ttf");
  font-weight: 100;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
.logo {
width: 180px;
margin-left: 5%;
}
.navbar {
  display: none;
  position: fixed;
  margin-top: 0;
  height: 100%;
  width:100%;
  background-color: rgba(229,76,78,0.8);
  z-index: 2;
}
.navbar li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 8vh;
  margin-left: -20px;
}

.navbar a {
  animation: popup 1s linear both;
  font-family: nordica;
  font-size: 2.2rem;
  letter-spacing: 0.25rem;

}
.navbar .first {
  animation-delay: 0.1s;

}
.navbar .second {
  animation-delay: 0.2s;

}
.navbar .third {
  animation-delay: 0.3s;
}
.navbar .fourth {
  animation-delay: 0.4s;
}
.navbar .last-navbar {
  animation-delay: 0.5s;
  line-height: 3.5rem;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}
.multiply {
  display: none;
  position: fixed;
    right: 15px;
    top: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
}
.close-navbar1, .close-navbar2 {
 display: none;
 position: relative;
border-top: solid 1px white;
  width: 2.7rem;
  top: 20px;

}
.close-navbar1 {
  transform: rotate(45deg);
}
.close-navbar2 {
  transform: rotate(-45deg);
}
.ham-container {
  width: 50px;
  height: 45px;
  margin-right: 5%;
  background-color: #c2b233;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.ham-bar1, .ham-bar2, .ham-bar3 {
  width: 20px;
  border-top: solid 3px black;
  position: absolute;
}
.ham-bar1 {
  top: 32%;
  left: 30%;
}
.ham-bar2 {
  top: 45%;
  left: 30%;
}
.ham-bar3 {
  top: 58%;
  left: 30%;
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header-container {
  padding-top: 30px;
  background-color: #f2d431;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover-bg {
background-color: #f5db36;
width: 100%;
/*position: relative;
top: 50px;
z-index: 4;*/
}
.cover-bg img {
  display: block;
  max-width: 100%;
  max-height: 80%;
  margin: auto;
  z-index: 1;
}
.intro {
  display: flex;
  flex-direction:column;
}
.headline h2 {
  color:  rgb(33, 94, 127);
  margin-top: 60px;
  margin-left: 7vw;
  font-family: assistant;
  font-weight: 800;
  font-size: 40px;
  line-height: 3rem;
}
.headline-content p {
  color: rgb(33, 94, 127);
  font-family: assistant;
  font-weight: 200;
  font-size:25px;
  margin: 15px 7vw;
  line-height: 30px;
}
.intro-content p {
  color: rgb(3, 41, 60);
  margin: 0 7vw;
  font-family: roboto;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}
.intro-content {
  margin-bottom: 50px;
}
.intro-content p:first-child {
  margin-bottom: 30px;
}
/*CSS styles for Galleries*/

.gallery .burrito img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.burrito-text {
  background-color: #e94a4f;
  margin: 0 auto 20px auto;
  width: 90%;
  height: 55%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.burrito-text > * {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
}
.burrito-text p {
  font-family: roboto;
  font-weight: 100;
  font-size: 20px;
  line-height: 2rem;
}
.burrito-text h1 {
  font-family: assistant;
  font-weight: 200;
  font-size: 22px;
  margin-bottom: 20px;
}
.burrito-text span {
  font-size: 30px;
  position: relative;
  top: 5px;
  left: 10px;
}
.text-bg {
  background-color: #41a5e3;

}
